@import "../../../assets/scss/mixins";
.new-pdt {
  padding: 20px;
  max-width: 1200px;
  &__button {
    float: right;
  }
  &__group {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;

    &__head {
      position: absolute;
      width: fit-content;
      transform: translate(7px, -30px);
      background: white;
      padding: 0px 10px;
      font-weight: bold;
    }
  }

  .ant-form-item {
    margin-bottom: 0px!important;
  }
  .ant-form-item-label {
    transform: translateY(10px);
    label {
      color: grey;
    }
  }
}

.form-item {
  padding: 0px 10px;
}

.dimension {
  padding-top: 8px;
  display: flex;
  &--head {
    padding-top: 6px;
  }
  span {
    font-size: 20px;
    color: $gray-darken;
  }
}
.conditions {
  width: 100%;
  display: flex;
  i {
    padding: 35px 20px 0px 0px;
    font-size: 20px;
    cursor: pointer;
  }
}
.btn_condition {
  margin: 0 10px;
}

.condition_preview {
  padding: 10px;
  width: 100%;
}